{% extends '::base_page.html.twig' %}

{% block body_content -%}
    <h1>Ingresar nueva carrera</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('carrera') }}">
            Mostrar todas las carreras
        </a>
    </li>
</ul>
{% endblock %}
