<!-- Start Logo Section -->
       <section id="logo-section" class="text-left">
            <div class="container">
      <div class="header clearfix navbar-inverse navbar-default navbar-fixed-top">
        <nav>
          <ul class="nav nav-pills pull-right col-md-1">
            <li role="presentation" class="active btn"><img src="{{asset('images/udv.png')}}" height="80" alt=""></li>
          </ul>
        </nav>
        <div class="logo text-left">
        	<a href="/"><h1>Learn - In</h1></a>
        </div>
      </div>
    </div>
        </section>
<!-- End Logo Section -->
