{% extends 'base_page.html.twig' %}

{% block body_content %}
    <h1>Nueva Clase</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary btn-block" type="submit" value="Guardar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('clase_index') }}">Regresar al listad</a>
        </li>
    </ul>
{% endblock %}
