
{% extends 'base_page.html.twig' %}    
    {% block title  %}Error: 403{% endblock %}
    {% block body_content %}


        <div style="text-align:center">
            <h1>Acceso No Autorizado</h1>
            <img src="{{asset('images/403.jpg')}}" />
        </div>

    {% endblock %}