{% extends '::base_page.html.twig' %}

{% block body_content -%}
    <h1>Crear Período</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('periodo') }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
