 <!-- Modal para Registro -->
<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Correo UDV</h4>
      </div>
      <div class="modal-body">
      <h4>1. <a href="http://correo.udv.edu.gt/" target="_blank">Dirígete a la página del correo en google:http://correo.udv.edu.gt/ </a></h4>
      <h4>2. Tu usuario es: Tu número de carné @udv.edu.gt</h4>
      <h4>3. Ejemplo: 20151234@udv.edu.gt</h4>
      <h4>4. Contraseña: Tu número de carné.</h4>
      </div>
    </div>
  </div>
</div>