{% extends '::base_page.html.twig' %}

{% block body_content -%}
    <h1>Facultad creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('facultad') }}">
         	Mostrar todas las facultades
        </a>
    </li>
</ul>
{% endblock %}
